/* General styling for the website */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth background and color transitions */
}

/* Ensure body has background color while loading */
body:not(.loaded) {
    background-color: #f4f4f4;
}

/* Page transition effect */
main {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.loaded main {
    opacity: 1;
}

/* Dark and light theme styles */
[data-theme='dark'] {
    background-color: #333;
    color: #f1f1f1;
}

[data-theme='dark'] header, [data-theme='dark'] footer {
    background-color: #444;
}

[data-theme='dark'] nav a {
    color: #4CAF50;
}

[data-theme='light'] {
    background-color: #f4f4f4;
    color: #333;
}

[data-theme='light'] header, [data-theme='light'] footer {
    background-color: #4CAF50;
    color: white;
}

[data-theme='light'] nav a {
    color: #4CAF50;
}

/* Header styling */
header {
    text-align: center;
    padding: 1em 0;
}

/* Navigation styling */
nav {
    text-align: center;
    margin: 1em 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav a:hover {
    color: #333; /* Change this to any color you like */
}

/* Main content styling */
main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.8em; /* Smaller footer text */
}

/* Emphasized text styling (for project dates) */
em {
    color: #666;
    font-style: normal;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px; /* Add bottom margin for spacing */
    font-size: 0.9em;
}
