<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}"> <!-- Include the theme stylesheet -->
</head>
<body>
    <header>
        <h1>Giridharan Sankar</h1>
        <p>Physics | IISER Pune</p>
    </header>
    <nav>
        <a href="{{ '/' | absolute_url }}">Home</a>
        <a href="{{ '/projects' | absolute_url }}">Projects</a>
        <a href="{{ '/assets/cv/CV.pdf' | absolute_url }}" target="_blank">CV</a>
        <a href="{{ '/contact' | absolute_url }}">Contact</a>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2024 Giridharan Sankar. All rights reserved.</p>
    </footer>
</body>
</html>
